<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:align="center">Add new sportsman</h1>
    <hr/>
    <form th:action="@{/sportsmen}" th:object="${sportsman}" th:method="post">
        <p>Name: <input type="text" th:field="*{name}"/></p>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <p>Age: <input type="text" th:field="*{age}"/></p>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        <p>Height: <input type="text" th:field="*{height}"/></p>
        <div style="color: red" th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></div>
        <p>Weight: <input type="text" th:field="*{weight}"/></p>
        <div style="color: red" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></div>
        <p><input type="submit" value="Save new sportsman"/></p>
    </form>
</body>
</html>