<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sportsman</title>
</head>
<body>
    <h1 align="center" th:text="${sportsman.getName()}"></h1>
    <hr>
    <br/>
    <h2>Parameters:</h2>
    <p th:text="'Age: '+${sportsman.getAge()}"></p>
    <p th:text="'Height: '+${sportsman.getHeight()}"></p>
    <p th:text="'Weight: '+${sportsman.getWeight()}"></p>
    <hr>
    <form th:action="@{/sportsmen/editSportsman/{id}(id=${sportsman.getId_sportsman()})}">
        <!-- <button>Delete sportsman</button> -->
        <input type="submit" value="Edit sportsman"/>
    </form>
    <form th:action="@{/sportsmen/{id}(id=${sportsman.getId_sportsman()})}" th:method="delete">
        <!-- <button>Delete sportsman</button> -->
        <input type="submit" value="Delete sportsman"/>
    </form>

<hr/>
    <h2 th:align="center">List of exercises</h2>
    <tr th:each="exercise : ${listExercises}">
        <td>
            <a th:href="@{/performance(idSportsman=${sportsman.getId_sportsman()},
            idExercise=${exercise.getId_exercise()})}" th:text="${exercise.getNameExercise()}"></a>
        </td>
        <!--<td th:text="'Name exercise: '+${exercise.getNameExercise()}"></td>-->
        <br/>
    </tr>

<!--<h2 th:align="center">List of performance</h2>
    <table>
        <tr>
            <th>Difficulty</th>
            <th>Date</th>
            <th>Count</th>
        </tr>

    </table>
    <hr/>
    <h2 th:align="center">Add new performance</h2>
    <form th:action="@{/performance/{idSportsman}(idSportsman=${sportsman.getId_sportsman()})}" th:object="${newPerformance}" th:method="post">
        <p>Count <input type="text" th:field="*{countPerformance}"/></p>
        <p><input type="submit" value="Save new performance"/></p>
    </form> -->

</body>
</html>