<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basic movements</title>
</head>
<body>
<h1 align="center">Basic movements</h1>
<hr>
<table>
  <tr>
    <th>Name movement</th>
    <th>Description movement</th>
  </tr>
  <tr th:each="exercise : ${exercises}">
    <td>
      <a th:href="@{/exercises/{id}(id=${exercise.getId_exercise()})}" th:text="${exercise.getNameExercise()}"></a>
    </td>
    <td th:text="${exercise.getDescriptionExercise}"></td>
  </tr>



</table>
<br>
<hr>
<form th:action="@{exercises/newExercise}">
  <button>Add new basic movement</button>
</form>

</body>
</html>